<div class= "main-box" id="you">
  <h1><%= @question %></h1>
  <h3>-You</h3>
</div>

<div class= "main-box" id="coach">
  <h1><%= @answer %></h1>
  <h3>-Your coach</h3>
</div>

<%= link_to "Ask me a question", ask_path %>
